<a href="https://colab.research.google.com/github/Malinowsk/Ejercicios-en-Python/blob/main/1-%20Curso%20de%20Manipulaci%C3%B3n%20y%20Transformaci%C3%B3n%20de%20Datos%20con%20Pandas%20y%20NumPy/pandas/agregar_eliminar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importar librer√≠as

In [ ]:
import pandas as pd
import numpy as np

### Cargar DataFrame

In [ ]:
df_books = pd.read_csv('/content/bestsellers with categories.csv',sep=',',header=0)

In [ ]:
df_books.head(2)

                            Name        Author  ...  Year        Genre
0  10-Day Green Smoothie Cleanse      JJ Smith  ...  2016  Non Fiction
1              11/22/63: A Novel  Stephen King  ...  2011      Fiction

[2 rows x 7 columns]

### Drop columns

In [ ]:
df_books.drop('Genre',axis=1,inplace=True)

In [ ]:
df_books = df_books.drop('Year',axis=1)

In [ ]:
df_books.head(2)

                            Name        Author  User Rating  Reviews
0  10-Day Green Smoothie Cleanse      JJ Smith          4.7    17350
1              11/22/63: A Novel  Stephen King          4.6     2052

In [ ]:
del df_books['Price']

### Drop rows

In [ ]:
df_books.head(2)

                            Name        Author  ...  Year        Genre
0  10-Day Green Smoothie Cleanse      JJ Smith  ...  2016  Non Fiction
1              11/22/63: A Novel  Stephen King  ...  2011      Fiction

[2 rows x 7 columns]

In [ ]:
df_books.drop(range(0,10),axis=0).head(2)

                                                 Name  ...        Genre
10                          A Man Called Ove: A Novel  ...      Fiction
11  A Patriot's History of the United States: From...  ...  Non Fiction

[2 rows x 7 columns]

### Add columns

In [ ]:
df_books.head(2)

                            Name        Author  ...  Year        Genre
0  10-Day Green Smoothie Cleanse      JJ Smith  ...  2016  Non Fiction
1              11/22/63: A Novel  Stephen King  ...  2011      Fiction

[2 rows x 7 columns]

In [ ]:
df_books['Nueva_Columna'] = np.nan 
df_books.head(2)

                            Name        Author  ...        Genre  Nueva_Columna
0  10-Day Green Smoothie Cleanse      JJ Smith  ...  Non Fiction            NaN
1              11/22/63: A Novel  Stephen King  ...      Fiction            NaN

[2 rows x 8 columns]

In [ ]:
data = np.arange(0,df_books.shape[0])

In [ ]:
df_books['Rango'] = data

In [ ]:
df_books

                                                  Name  ... Rango
0                        10-Day Green Smoothie Cleanse  ...     0
1                                    11/22/63: A Novel  ...     1
2              12 Rules for Life: An Antidote to Chaos  ...     2
3                               1984 (Signet Classics)  ...     3
4    5,000 Awesome Facts (About Everything!) (Natio...  ...     4
..                                                 ...  ...   ...
545       Wrecking Ball (Diary of a Wimpy Kid Book 14)  ...   545
546  You Are a Badass: How to Stop Doubting Your Gr...  ...   546
547  You Are a Badass: How to Stop Doubting Your Gr...  ...   547
548  You Are a Badass: How to Stop Doubting Your Gr...  ...   548
549  You Are a Badass: How to Stop Doubting Your Gr...  ...   549

[550 rows x 9 columns]

### Add rows

In [ ]:
df_books.append(df_books)

                                                  Name  ... Rango
0                        10-Day Green Smoothie Cleanse  ...     0
1                                    11/22/63: A Novel  ...     1
2              12 Rules for Life: An Antidote to Chaos  ...     2
3                               1984 (Signet Classics)  ...     3
4    5,000 Awesome Facts (About Everything!) (Natio...  ...     4
..                                                 ...  ...   ...
545       Wrecking Ball (Diary of a Wimpy Kid Book 14)  ...   545
546  You Are a Badass: How to Stop Doubting Your Gr...  ...   546
547  You Are a Badass: How to Stop Doubting Your Gr...  ...   547
548  You Are a Badass: How to Stop Doubting Your Gr...  ...   548
549  You Are a Badass: How to Stop Doubting Your Gr...  ...   549

[1100 rows x 9 columns]