<a href="https://colab.research.google.com/github/Malinowsk/Ejercicios-en-Python/blob/main/1-%20Curso%20de%20Manipulaci%C3%B3n%20y%20Transformaci%C3%B3n%20de%20Datos%20con%20Pandas%20y%20NumPy/pandas/apply.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importar librerías

In [ ]:
import pandas as pd

### Cargar DataFrame

In [ ]:
df_books = pd.read_csv('/content/bestsellers with categories.csv')
df_books.head(2)

                            Name        Author  ...  Year        Genre
0  10-Day Green Smoothie Cleanse      JJ Smith  ...  2016  Non Fiction
1              11/22/63: A Novel  Stephen King  ...  2011      Fiction

[2 rows x 7 columns]

### Definir función

In [ ]:
def two_times(value):
    return value * 2

### apply()

In [ ]:
df_books['Rating_2'] = df_books['User Rating'].apply(two_times)

In [ ]:
df_books['Rating_2'] = df_books['User Rating'].apply(lambda x : x * 3)

In [ ]:
df_books.head()

                                                Name  ... Rating_2
0                      10-Day Green Smoothie Cleanse  ...     14.1
1                                  11/22/63: A Novel  ...     13.8
2            12 Rules for Life: An Antidote to Chaos  ...     14.1
3                             1984 (Signet Classics)  ...     14.1
4  5,000 Awesome Facts (About Everything!) (Natio...  ...     14.4

[5 rows x 8 columns]

In [ ]:
df_books['Rating_2'] = df_books.apply(lambda x : x['User Rating'] * 2 if x['Genre'] == 'Fiction' else x['User Rating'],axis=1)

In [ ]:
df_books

                                                  Name  ... Rating_2
0                        10-Day Green Smoothie Cleanse  ...      4.7
1                                    11/22/63: A Novel  ...      9.2
2              12 Rules for Life: An Antidote to Chaos  ...      4.7
3                               1984 (Signet Classics)  ...      9.4
4    5,000 Awesome Facts (About Everything!) (Natio...  ...      4.8
..                                                 ...  ...      ...
545       Wrecking Ball (Diary of a Wimpy Kid Book 14)  ...      9.8
546  You Are a Badass: How to Stop Doubting Your Gr...  ...      4.7
547  You Are a Badass: How to Stop Doubting Your Gr...  ...      4.7
548  You Are a Badass: How to Stop Doubting Your Gr...  ...      4.7
549  You Are a Badass: How to Stop Doubting Your Gr...  ...      4.7

[550 rows x 8 columns]