<a href="https://colab.research.google.com/github/Malinowsk/Ejercicios-en-Python/blob/main/1-%20Curso%20de%20Manipulaci%C3%B3n%20y%20Transformaci%C3%B3n%20de%20Datos%20con%20Pandas%20y%20NumPy/Cargando_archivos_y_loc_e_iloc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importar librerías

In [ ]:
import pandas as pd

### Leer csv

In [ ]:
df_books = pd.read_csv('/content/bestsellers with categories.csv',sep=',',header=0)

In [ ]:
df_books

                                                  Name  ...        Genre
0                        10-Day Green Smoothie Cleanse  ...  Non Fiction
1                                    11/22/63: A Novel  ...      Fiction
2              12 Rules for Life: An Antidote to Chaos  ...  Non Fiction
3                               1984 (Signet Classics)  ...      Fiction
4    5,000 Awesome Facts (About Everything!) (Natio...  ...  Non Fiction
..                                                 ...  ...          ...
545       Wrecking Ball (Diary of a Wimpy Kid Book 14)  ...      Fiction
546  You Are a Badass: How to Stop Doubting Your Gr...  ...  Non Fiction
547  You Are a Badass: How to Stop Doubting Your Gr...  ...  Non Fiction
548  You Are a Badass: How to Stop Doubting Your Gr...  ...  Non Fiction
549  You Are a Badass: How to Stop Doubting Your Gr...  ...  Non Fiction

[550 rows x 7 columns]

### Leer JSON

In [ ]:
pd.read_json('HPCharactersDataRaw.json')

### Slicing

In [ ]:
df_books[0:4]

                                      Name  ...        Genre
0            10-Day Green Smoothie Cleanse  ...  Non Fiction
1                        11/22/63: A Novel  ...      Fiction
2  12 Rules for Life: An Antidote to Chaos  ...  Non Fiction
3                   1984 (Signet Classics)  ...      Fiction

[4 rows x 7 columns]

### Filtrar por columnas

In [ ]:
df_books[['Name','Author','Year']]

                                                  Name  ...  Year
0                        10-Day Green Smoothie Cleanse  ...  2016
1                                    11/22/63: A Novel  ...  2011
2              12 Rules for Life: An Antidote to Chaos  ...  2018
3                               1984 (Signet Classics)  ...  2017
4    5,000 Awesome Facts (About Everything!) (Natio...  ...  2019
..                                                 ...  ...   ...
545       Wrecking Ball (Diary of a Wimpy Kid Book 14)  ...  2019
546  You Are a Badass: How to Stop Doubting Your Gr...  ...  2016
547  You Are a Badass: How to Stop Doubting Your Gr...  ...  2017
548  You Are a Badass: How to Stop Doubting Your Gr...  ...  2018
549  You Are a Badass: How to Stop Doubting Your Gr...  ...  2019

[550 rows x 3 columns]

### Loc

In [ ]:
df_books.loc[:]

                                                  Name  ...        Genre
0                        10-Day Green Smoothie Cleanse  ...  Non Fiction
1                                    11/22/63: A Novel  ...      Fiction
2              12 Rules for Life: An Antidote to Chaos  ...  Non Fiction
3                               1984 (Signet Classics)  ...      Fiction
4    5,000 Awesome Facts (About Everything!) (Natio...  ...  Non Fiction
..                                                 ...  ...          ...
545       Wrecking Ball (Diary of a Wimpy Kid Book 14)  ...      Fiction
546  You Are a Badass: How to Stop Doubting Your Gr...  ...  Non Fiction
547  You Are a Badass: How to Stop Doubting Your Gr...  ...  Non Fiction
548  You Are a Badass: How to Stop Doubting Your Gr...  ...  Non Fiction
549  You Are a Badass: How to Stop Doubting Your Gr...  ...  Non Fiction

[550 rows x 7 columns]

In [ ]:
df_books.loc[0:4, ['Name','Author']]

                                                Name                    Author
0                      10-Day Green Smoothie Cleanse                  JJ Smith
1                                  11/22/63: A Novel              Stephen King
2            12 Rules for Life: An Antidote to Chaos        Jordan B. Peterson
3                             1984 (Signet Classics)             George Orwell
4  5,000 Awesome Facts (About Everything!) (Natio...  National Geographic Kids

In [ ]:
df_books.loc[:, ['Reviews']] * -1

     Reviews
0     -17350
1      -2052
2     -18979
3     -21424
4      -7665
..       ...
545    -9413
546   -14331
547   -14331
548   -14331
549   -14331

[550 rows x 1 columns]

In [ ]:
df_books.loc[:, ['Author']] == 'JJ Smith'

     Author
0      True
1     False
2     False
3     False
4     False
..      ...
545   False
546   False
547   False
548   False
549   False

[550 rows x 1 columns]

### Iloc

In [ ]:
df_books.iloc[:]

                                                  Name  ...        Genre
0                        10-Day Green Smoothie Cleanse  ...  Non Fiction
1                                    11/22/63: A Novel  ...      Fiction
2              12 Rules for Life: An Antidote to Chaos  ...  Non Fiction
3                               1984 (Signet Classics)  ...      Fiction
4    5,000 Awesome Facts (About Everything!) (Natio...  ...  Non Fiction
..                                                 ...  ...          ...
545       Wrecking Ball (Diary of a Wimpy Kid Book 14)  ...      Fiction
546  You Are a Badass: How to Stop Doubting Your Gr...  ...  Non Fiction
547  You Are a Badass: How to Stop Doubting Your Gr...  ...  Non Fiction
548  You Are a Badass: How to Stop Doubting Your Gr...  ...  Non Fiction
549  You Are a Badass: How to Stop Doubting Your Gr...  ...  Non Fiction

[550 rows x 7 columns]

In [ ]:
df_books.iloc[:,0:3]

                                                  Name  ... User Rating
0                        10-Day Green Smoothie Cleanse  ...         4.7
1                                    11/22/63: A Novel  ...         4.6
2              12 Rules for Life: An Antidote to Chaos  ...         4.7
3                               1984 (Signet Classics)  ...         4.7
4    5,000 Awesome Facts (About Everything!) (Natio...  ...         4.8
..                                                 ...  ...         ...
545       Wrecking Ball (Diary of a Wimpy Kid Book 14)  ...         4.9
546  You Are a Badass: How to Stop Doubting Your Gr...  ...         4.7
547  You Are a Badass: How to Stop Doubting Your Gr...  ...         4.7
548  You Are a Badass: How to Stop Doubting Your Gr...  ...         4.7
549  You Are a Badass: How to Stop Doubting Your Gr...  ...         4.7

[550 rows x 3 columns]

In [ ]:
df_books.iloc[1,3] * -1

-2052

In [ ]:
df_books.iloc[:2,2:]

   User Rating  Reviews  Price  Year        Genre
0          4.7    17350      8  2016  Non Fiction
1          4.6     2052     22  2011      Fiction