<a href="https://colab.research.google.com/github/Malinowsk/Ejercicios-en-Python/blob/main/1-%20Curso%20de%20Manipulaci%C3%B3n%20y%20Transformaci%C3%B3n%20de%20Datos%20con%20Pandas%20y%20NumPy/pandas/groupby.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importar librer√≠as

In [ ]:
import pandas as pd

### Cargar DataFrame

In [ ]:
df_books = pd.read_csv('/content/bestsellers with categories.csv',sep=',',header=0)
df_books.head(2)

                            Name        Author  ...  Year        Genre
0  10-Day Green Smoothie Cleanse      JJ Smith  ...  2016  Non Fiction
1              11/22/63: A Novel  Stephen King  ...  2011      Fiction

[2 rows x 7 columns]

### groupby()

In [ ]:
df_books.groupby('Author').sum()

                            User Rating  Reviews  Price  Year
Author
Abraham Verghese                    9.2     9732     22  4021
Adam Gasiewski                      4.4     3113      6  2017
Adam Mansbach                       4.8     9568      9  2011
Adir Levy                           4.8     8170     13  2019
Admiral William H. McRaven          4.7    10199     11  2017
...                                 ...      ...    ...   ...
Walter Isaacson                    13.7    18668     61  6040
William Davis                       8.8    14994     12  4025
William P. Young                    9.2    39440     16  4026
Wizards RPG Team                   14.4    50970     81  6054
Zhi Gang Sha                        9.2      257     23  4022

[248 rows x 4 columns]

In [ ]:
df_books.groupby('Author').sum().loc['William Davis']

User Rating        8.8
Reviews        14994.0
Price             12.0
Year            4025.0
Name: William Davis, dtype: float64

In [ ]:
df_books.groupby('Author').sum().reset_index()

                         Author  User Rating  Reviews  Price  Year
0              Abraham Verghese          9.2     9732     22  4021
1                Adam Gasiewski          4.4     3113      6  2017
2                 Adam Mansbach          4.8     9568      9  2011
3                     Adir Levy          4.8     8170     13  2019
4    Admiral William H. McRaven          4.7    10199     11  2017
..                          ...          ...      ...    ...   ...
243             Walter Isaacson         13.7    18668     61  6040
244               William Davis          8.8    14994     12  4025
245            William P. Young          9.2    39440     16  4026
246            Wizards RPG Team         14.4    50970     81  6054
247                Zhi Gang Sha          9.2      257     23  4022

[248 rows x 5 columns]

In [ ]:
df_books.groupby('Author').agg(['min','max'])

                                                                         Name  ...        Genre
                                                                          min  ...          max
Author                                                                         ...
Abraham Verghese                                            Cutting for Stone  ...      Fiction
Adam Gasiewski              Milk and Vine: Inspirational Quotes From Class...  ...  Non Fiction
Adam Mansbach                                            Go the F**k to Sleep  ...      Fiction
Adir Levy                   What Should Danny Do? (The Power to Choose Ser...  ...      Fiction
Admiral William H. McRaven  Make Your Bed: Little Things That Can Change Y...  ...  Non Fiction
...                                                                       ...  ...          ...
Walter Isaacson                                             Leonardo da Vinci  ...  Non Fiction
William Davis               Wheat Belly: Lose the Wheat, Lose the Weight, ...  ...  Non Fiction
William P. Young                  The Shack: Where Tragedy Confronts Eternity  ...      Fiction
Wizards RPG Team                       Player's Handbook (Dungeons & Dragons)  ...      Fiction
Zhi Gang Sha                Divine Soul Mind Body Healing and Transmission...  ...  Non Fiction

[248 rows x 12 columns]

In [ ]:
df_books.head(2)

                            Name        Author  ...  Year        Genre
0  10-Day Green Smoothie Cleanse      JJ Smith  ...  2016  Non Fiction
1              11/22/63: A Novel  Stephen King  ...  2011      Fiction

[2 rows x 7 columns]

In [ ]:
df_books.groupby('Author').agg({'Reviews':['min','max'],'User Rating':'sum'})

                           Reviews        User Rating
                               min    max         sum
Author
Abraham Verghese              4866   4866         9.2
Adam Gasiewski                3113   3113         4.4
Adam Mansbach                 9568   9568         4.8
Adir Levy                     8170   8170         4.8
Admiral William H. McRaven   10199  10199         4.7
...                            ...    ...         ...
Walter Isaacson               3014   7827        13.7
William Davis                 7497   7497         8.8
William P. Young             19720  19720         9.2
Wizards RPG Team             16990  16990        14.4
Zhi Gang Sha                    37    220         9.2

[248 rows x 3 columns]

In [ ]:
df_books.groupby(['Author','Year']).count()

                       Name  User Rating  Reviews  Price  Genre
Author           Year
Abraham Verghese 2010     1            1        1      1      1
                 2011     1            1        1      1      1
Adam Gasiewski   2017     1            1        1      1      1
Adam Mansbach    2011     1            1        1      1      1
Adir Levy        2019     1            1        1      1      1
...                     ...          ...      ...    ...    ...
Wizards RPG Team 2017     1            1        1      1      1
                 2018     1            1        1      1      1
                 2019     1            1        1      1      1
Zhi Gang Sha     2009     1            1        1      1      1
                 2013     1            1        1      1      1

[493 rows x 5 columns]