<a href="https://colab.research.google.com/github/Malinowsk/Ejercicios-en-Python/blob/main/Ejercicios-en-Python/4-%20Curso_Python_Coderhouse/CLASE%208/Manejo_de_archivos_y_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/drive/')

Mounted at /drive/

In [ ]:
# Deben usar una ruta de su drive que tenga permiso de escritura
ruta = '/drive/MyDrive/python_clase_8/'

In [ ]:
nombre_archivo = ruta + "archivo.txt"
f = open(nombre_archivo, "w")  # f (file) es la variable en memoria del archivo

f.write("Esto es un texto.")

f.close()

In [ ]:
nombre = "Pedro"
apellido = "Rojas"
dni = 111111

d = {"NOMBRE":nombre, "APELLIDO":apellido, "DNI":dni}

archivo = open(ruta + "otro.txt", "w")

archivo.write(d["NOMBRE"] +"," +d["APELLIDO"] +"," +str(d["DNI"] ))

archivo.close()

In [ ]:
# Leer archivos
f = open(ruta + "paraLeer.txt", "r")
content = f.read()
print(content)
f.close()

soy el primer renglon
ahora soy el 2do renglon
no sé ni que soy
acá hay otro renglon
soy el 5

In [ ]:
f = open(ruta + "paraLeer.txt", "r")
lines = f.readlines()

for line in lines:
    print(line)

f.close()

soy el primer renglon

ahora soy el 2do renglon

no sé ni que soy

acá hay otro renglon

soy el 5

In [ ]:
lines

['soy el primer renglon\n',
 'ahora soy el 2do renglon\n',
 'no sé ni que soy\n',
 'acá hay otro renglon\n',
 'soy el 5']

In [ ]:
f = open(ruta + "paraLeer.txt", "r")

print(f.readline())

f.close()

soy el primer renglon

In [ ]:
f = open(ruta + "paraLeer.txt", "r")

f.seek(20)

print(f.read())

f.close()

n
ahora soy el 2do renglon
no sé ni que soy
acá hay otro renglon
soy el 5

In [ ]:
import json  #Importar las funciones de json en la 
#clase 15 entenderemos mejor el IMPORT

data = {}

data['clients'] = []

data['clients'].append({
    'first_name': 'Sigrid',
    'last_name': 'Mannock',
    'age': 27,
    'amount': 7.17})

data['clients'].append({
    'first_name': 'Joe',
    'last_name': 'Hinners',
    'age': 31,
    'amount': [1.90, 5.50]})

data['clients'].append({
    'first_name': 'Theodoric',
    'last_name': 'Rivers',
    'age': 36,
    'amount': 1.11})

In [ ]:
import pprint  # significa pretty print
pprint.pprint(data)

{'clients': [{'age': 27,
              'amount': 7.17,
              'first_name': 'Sigrid',
              'last_name': 'Mannock'},
             {'age': 31,
              'amount': [1.9, 5.5],
              'first_name': 'Joe',
              'last_name': 'Hinners'},
             {'age': 36,
              'amount': 1.11,
              'first_name': 'Theodoric',
              'last_name': 'Rivers'}]}

In [ ]:
# libreria JSON sirve para transformar diccionarios en formato JSON o viceversa
# tiene dos comandos
# comando dump que sirve para volcar un diccionario en un arcivo
# comando load que sirve para leer un archivo JSON y retornarlo como un diccionario de Python

In [ ]:
# Guardar el diccionario en un archivo JSON
# el comando with, cierra el archivo por nosotros, no tenemos hacer .close()
with open(ruta + "/primerJson.json", 'w') as file:
    json.dump(data, file, indent=4)

In [ ]:
# Hacemos esto para leer el JSON y convertirlo en un diccionario
with open(ruta + "/primerJson.json", "r") as file:
    dataLectura = json.load(file)

In [ ]:
dataLectura

{'clients': [{'first_name': 'Sigrid',
   'last_name': 'Mannock',
   'age': 27,
   'amount': 7.17},
  {'first_name': 'Joe',
   'last_name': 'Hinners',
   'age': 31,
   'amount': [1.9, 5.5]},
  {'first_name': 'Theodoric',
   'last_name': 'Rivers',
   'age': 36,
   'amount': 1.11}]}

In [ ]:
for client in dataLectura['clients']:
    print('First name:', client['first_name'])
    print('Last name:', client['last_name'])
    print('Age:', client['age'])
    print('Amount:', client['amount'])
    print('')

First name: Sigrid
Last name: Mannock
Age: 27
Amount: 7.17

First name: Joe
Last name: Hinners
Age: 31
Amount: [1.9, 5.5]

First name: Theodoric
Last name: Rivers
Age: 36
Amount: 1.11

In [ ]:
#Con esto daremos permisos para acceder al Drive, nos va a pedir que hagamos loguin con la cuenta de gmail, y nos dará un codigo de verificación. 

from google.colab import drive

#Para generar una variable con los datos de nuestro archivos, vamos a empezar a trabajar con nuestra libreria "magica" para trabajar con datos, 
#libreria llamada Pandas, para poder usarla debemos hacer lo siguiente

import pandas as pd  #En castellano, importamos pandas y lo llamamos pd  (pd puede ser cualquier palabra que recuerden)

import numpy as np #Esto lo usaremos bastante mas adelante del apunte, por ahora se lo puede ignorar

In [ ]:
#En mi caso voy a abrir los datos de turnos de vacunación por covid-19

variableTurnos = pd.read_csv(ruta+ "dataset_turnos_detalle.csv")

#Acá se vé que era necesario tener pandas, ya que usamos la función read_csv de pandas.
#LISTO... Ya tenemos todos nuestros datos leidos y guardados en una variable... Ya son "facilmente" manipulables.

In [ ]:
type(variableTurnos)

pandas.core.frame.DataFrame

In [ ]:
variableTurnos

,genero,sede,servicio,fecha_cita
0,MASCULINO,Centro Islámico,Adultos Mayores de 80 años,01MAR2021:11:15:00
1,MASCULINO,Club Ferro,Adultos Mayores de 80 años,02MAR2021:09:00:00
2,FEMENINO,La Rural,Adultos Mayores de 80 años,01MAR2021:13:30:00
3,MASCULINO,Centro de día Parque Chacabuco,Adultos Mayores de 80 años,25FEB2021:13:00:00
4,FEMENINO,Centro C. Recoleta,Adultos Mayores de 80 años,01MAR2021:13:30:00
...,...,...,...,...
1925040,FEMENINO,Casa del Historiador,Adultos Mayores de 80 años,23FEB2021:15:45:00
1925041,MASCULINO,La Rural,Adultos Mayores de 80 años,02MAR2021:15:00:00
1925042,FEMENINO,Club Glorias Argentinas,Adultos Mayores de 80 años,25FEB2021:13:30:00
1925043,MASCULINO,Centro de Dia N9 y 13,Adultos Mayores de 80 años,25FEB2021:08:15:00
1925044,FEMENINO,Club San Lorenzo,Adultos Mayores de 80 años,26FEB2021:11:30:00

In [ ]:
#Si esa visualización por defecto no nos gusta podemos verlos de otra forma. Head, nos permite elegir cuantos datos mostrar
variableTurnos.head(3) #Los primeros

      genero             sede                    servicio          fecha_cita
0  MASCULINO  Centro Islámico  Adultos Mayores de 80 años  01MAR2021:11:15:00
1  MASCULINO       Club Ferro  Adultos Mayores de 80 años  02MAR2021:09:00:00
2   FEMENINO         La Rural  Adultos Mayores de 80 años  01MAR2021:13:30:00

In [ ]:
#Con el comando tails, agarramos los ultimos
variableTurnos.tail()

,genero,sede,servicio,fecha_cita
1925040,FEMENINO,Casa del Historiador,Adultos Mayores de 80 años,23FEB2021:15:45:00
1925041,MASCULINO,La Rural,Adultos Mayores de 80 años,02MAR2021:15:00:00
1925042,FEMENINO,Club Glorias Argentinas,Adultos Mayores de 80 años,25FEB2021:13:30:00
1925043,MASCULINO,Centro de Dia N9 y 13,Adultos Mayores de 80 años,25FEB2021:08:15:00
1925044,FEMENINO,Club San Lorenzo,Adultos Mayores de 80 años,26FEB2021:11:30:00

In [ ]:
#Tambien podemos usar sample, que nos muestra la cantidad que quieras, pero al azar, bastante util. 
variableTurnos.sample(3)

,genero,sede,servicio,fecha_cita
1545967,FEMENINO,La Rural,Personas con Alergia Severa,29JUN2021:11:15:00
977241,FEMENINO,Todos Unidos Centro de Jubilados,Docentes y No Docentes,02JUN2021:16:45:00
1525803,FEMENINO,La Rural,Adultos Mayores de 18 años,26JUN2021:15:00:00

In [ ]:
variableTurnos["sede"]

0                         Centro Islámico
1                              Club Ferro
2                                La Rural
3          Centro de día Parque Chacabuco
4                      Centro C. Recoleta
                        ...
1925040              Casa del Historiador
1925041                          La Rural
1925042           Club Glorias Argentinas
1925043             Centro de Dia N9 y 13
1925044                  Club San Lorenzo
Name: sede, Length: 1925045, dtype: object

In [ ]:
#Uno de los primeros estadisticos para entrar en tema podría ser las frecuencias simples..
variableTurnos['sede'].value_counts()  #Esto nos muestra cada sede una vez sola, ordenado y con su frecuencia.

Club San Lorenzo                                          264616
La Rural                                                  215748
Estadio Luna Park                                         196126
Parque Roca                                               181980
Club River Plate                                          142751
Usina del Arte                                             91415
Movistar Arena                                             82593
Centro Islámico                                            76093
Centro C. Recoleta                                         69168
Club Comunicaciones                                        51846
Club Racing Villa del Parque                               51568
Casa del Historiador                                       31473
PAMI - Centro de Promoción y Prevención                    31020
PAMI - Centro de Promoción Prevención y Rehabilitación     30996
PAMI - Agencia 3                                           30898
Corralón Floresta                                          29603
Ministerio de Salud                                        27020
Club Italiano                                              26348
Centro Cultural El Adan                                    21973
Centro Cultural Centeya                                    20019
Costa Salguero (Vehicular)                                 18908
Teatro San Martín                                          17296
Sede OSCOEMA                                               16686
Club Atlético Boca Juniors                                 16567
Parque de la Estación                                      16523
Fundacion Pardes                                           16170
Club Huracan                                               15890
Club Glorias Argentinas                                    14603
Todos Unidos Centro de Jubilados                           14288
PAMI - Facultad de Medicina                                12773
VELEZ (BIBLIOTECA)                                         12627
Club Mitre                                                 12576
Centro de Dia N9 y 13                                      12078
Club Sin Rumbo                                             10914
Asociación Corredores Turismo Carretera                     9002
Club Ferro                                                  7282
Oficina Escout                                              3678
Club Atlanta                                                3437
Hospital General de Agudos J. M. Ramos Mejía                3370
CEMAR                                                       2974
San Lorenzo - Estadio                                       2426
Hospital General de Agudos Dr. C. Argerich                  2188
FATSA                                                       1552
Hospital General de Agudos Dr. C. Durand                    1520
Ministerio de Desarrollo Humano y Hábitat                   1491
Hospital General de Agudos Donación F. Santojanni           1307
Local Papa Francisco                                        1040
Ministerio de Educación (Perette y calle 10)                 975
Hospital General de Agudos D. Velez Sarsfield                870
Centro de día Parque Chacabuco                               780
Name: sede, dtype: int64

In [ ]:
# Vamos a leer el dataset de los clasicos del rock
ruta_dataset_rock = ruta + "classic_rock_playlist.csv"
datasetRock = pd.read_csv(ruta_dataset_rock)

In [ ]:
type(datasetRock)

pandas.core.frame.DataFrame

In [ ]:
datasetRock

,Artist,Music,Album,Year,Genre,2022,2021,2020,2019,2018,2017,2016,2015
0,The Black Crowes,Remedy,The Southern Harmony and Musical Companion,1992,Southern Rock,500,NaN,324.0,290.0,132.0,64.0,36.0,NaN
1,Asia,Only Time Will Tell,Asia,1982,Progressive Rock,499,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Collective Soul,Shine,Hints Allegations and Things Left Unsaid,1993,Alternative Rock,498,NaN,NaN,419.0,485.0,403.0,NaN,NaN
3,Billy Idol,Sweet Sixteen,Whiplash Smile,1986,Rock,497,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Collective Soul,December,Collective Soul,1995,Alternative Rock,496,NaN,NaN,NaN,431.0,443.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,Queen,We Are The Champions,News of the World,1977,Arena Rock,5,9.0,129.0,28.0,NaN,154.0,45.0,18.0
496,Metallica,One,And Justice for All,1988,Pop Rock,4,2.0,2.0,3.0,3.0,3.0,3.0,2.0
497,Queen,Bohemian Rhapsody,A Night at the Opera,1975,Art Rock,3,3.0,3.0,1.0,1.0,2.0,2.0,4.0
498,Led Zeppelin,Stairway to Heaven,Led Zeppelin IV,1971,Hard Rock,2,4.0,1.0,2.0,2.0,1.0,1.0,3.0
499,Metallica,Master of Puppets,Master of Puppets,1986,Thrash Metal,1,86.0,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
datasetRock.sample(5)

,Artist,Music,Album,Year,Genre,2022,2021,2020,2019,2018,2017,2016,2015
252,George Harrison,My Sweet Lord,All Things Must Pass,1970,Folk Rock,248,152.0,NaN,NaN,NaN,NaN,NaN,NaN
293,Rush,Limelight,Moving Pictures,1981,Progressive Rock,207,130.0,66.0,159.0,182.0,322.0,NaN,NaN
305,Greta Van Fleet,Talk on the Street,From the Fires,2017,Hard Rock,195,294.0,NaN,100.0,NaN,NaN,NaN,NaN
123,Foo Fighters,Times Like These,One by One,2002,Alternative Rock,377,54.0,136.0,95.0,111.0,341.0,447.0,NaN
346,The Doors,Roadhouse Blues,Morrison Hotel,1970,Blues Rock,154,NaN,NaN,351.0,89.0,36.0,109.0,113.0

In [ ]:
datasetRock['Artist'].value_counts()

Aerosmith             17
The Beatles           14
Bon Jovi              12
Van Halen             12
The Rolling Stones    10
                      ..
Tommy Tutone           1
Soundgarden            1
The Verve              1
Social Distortion      1
Eagles                 1
Name: Artist, Length: 202, dtype: int64

In [ ]:
datasetRock[datasetRock['Year'] == 1981]

,Artist,Music,Album,Year,Genre,2022,2021,2020,2019,2018,2017,2016,2015
6,Men at Work,Down Under,Business as Usual,1981,New Wave,494,NaN,190.0,172.0,108.0,451.0,406.0,167.0
9,Blue Oyster Cult,Joan Crawford,Fire of Unknown Origin,1981,Hard Rock,491,NaN,174.0,209.0,NaN,311.0,403.0,NaN
90,Tommy Tutone,867-5309 Jenny,Tommy Tutone 2,1981,Power Pop,410,336.0,NaN,NaN,420.0,376.0,422.0,291.0
118,The Police,Every Little Thing She Does is Magic,Ghost in the Machine,1981,Pop Rock,382,NaN,228.0,NaN,223.0,241.0,344.0,NaN
144,Billy Idol,Dancing With Myself,Dont Stop,1981,New Wave,356,NaN,303.0,279.0,458.0,227.0,455.0,NaN
147,The Police,Spirits in the Material World,Ghost in the Machine,1981,New Wave,353,NaN,NaN,NaN,NaN,NaN,NaN,NaN
293,Rush,Limelight,Moving Pictures,1981,Progressive Rock,207,130.0,66.0,159.0,182.0,322.0,NaN,NaN
365,Journey,Dont Stop Believin,Escape,1981,Pop Rock,135,16.0,95.0,57.0,195.0,32.0,84.0,193.0
424,Peter Frampton,Breaking All the Rules,Breaking All the Rules,1981,Hard Rock,76,45.0,329.0,38.0,321.0,79.0,24.0,108.0
460,The Rolling Stones,Start Me Up,Tattoo You,1981,Blues Rock,40,92.0,43.0,286.0,99.0,160.0,70.0,322.0
465,Rush,Tom Sawyer,Moving Pictures,1981,Progressive Rock,35,56.0,7.0,34.0,21.0,77.0,33.0,74.0

In [ ]:
datasetRock[datasetRock['2020'].notnull()]

,Artist,Music,Album,Year,Genre,2022,2021,2020,2019,2018,2017,2016,2015
0,The Black Crowes,Remedy,The Southern Harmony and Musical Companion,1992,Southern Rock,500,NaN,324.0,290.0,132.0,64.0,36.0,NaN
6,Men at Work,Down Under,Business as Usual,1981,New Wave,494,NaN,190.0,172.0,108.0,451.0,406.0,167.0
9,Blue Oyster Cult,Joan Crawford,Fire of Unknown Origin,1981,Hard Rock,491,NaN,174.0,209.0,NaN,311.0,403.0,NaN
10,Alice in Chains,No Excuses,Jar of Flies,1994,Alternative Rock,490,361.0,486.0,NaN,450.0,465.0,NaN,NaN
16,The Smiths,Ask,Single,1986,Jangle Pop,484,406.0,123.0,335.0,340.0,197.0,261.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,The Who,Baba ORiley,Whos Next,1971,Hard Rock,6,17.0,32.0,59.0,9.0,10.0,5.0,10.0
495,Queen,We Are The Champions,News of the World,1977,Arena Rock,5,9.0,129.0,28.0,NaN,154.0,45.0,18.0
496,Metallica,One,And Justice for All,1988,Pop Rock,4,2.0,2.0,3.0,3.0,3.0,3.0,2.0
497,Queen,Bohemian Rhapsody,A Night at the Opera,1975,Art Rock,3,3.0,3.0,1.0,1.0,2.0,2.0,4.0
498,Led Zeppelin,Stairway to Heaven,Led Zeppelin IV,1971,Hard Rock,2,4.0,1.0,2.0,2.0,1.0,1.0,3.0

In [ ]:
# EL top 10 del 2020
datasetRock[datasetRock['2020'].notnull()].sort_values('2020', ascending=True)[:10]

,Artist,Music,Album,Year,Genre,2022,2021,2020,2019,2018,2017,2016,2015
498,Led Zeppelin,Stairway to Heaven,Led Zeppelin IV,1971,Hard Rock,2,4.0,1.0,2.0,2.0,1.0,1.0,3.0
496,Metallica,One,And Justice for All,1988,Pop Rock,4,2.0,2.0,3.0,3.0,3.0,3.0,2.0
497,Queen,Bohemian Rhapsody,A Night at the Opera,1975,Art Rock,3,3.0,3.0,1.0,1.0,2.0,2.0,4.0
307,The Beatles,Helter Skelter,The Beatles,1968,Hard Rock,193,NaN,4.0,303.0,147.0,299.0,220.0,294.0
423,AC DC,Thunderstruck,The Razors Edge,1990,Hard Rock,77,82.0,5.0,23.0,24.0,27.0,264.0,339.0
418,Van Halen,Jump,NaN,1984,Pop Rock,82,128.0,6.0,126.0,44.0,87.0,201.0,40.0
465,Rush,Tom Sawyer,Moving Pictures,1981,Progressive Rock,35,56.0,7.0,34.0,21.0,77.0,33.0,74.0
319,Pearl Jam,Black,Ten,1991,Grunge,181,24.0,8.0,4.0,6.0,7.0,212.0,66.0
487,Iron Maiden,The Number of the Beast,The Number of the Beast,1982,Heavy Metal,13,7.0,9.0,10.0,16.0,15.0,7.0,1.0
472,Black Sabbath,Paranoid,Paranoid,1970,Heavy Metal,28,71.0,10.0,11.0,25.0,23.0,4.0,12.0